<!doctype html>
<html lang="en">
    <head>
        <title>Receipt Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        </style>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body style="visibility: hidden;">
        <section class="ftco-section">
            <div class="container">
                <div>

                </div>
                <div class="row justify-content-center">
                    <div class = "receipt-details">
                        <div class ="sidebar">
                            <div class="filter-bar">
                                <label class="status-filter status-filter-approved">
                                    <input type="checkbox" class = "clear-checkbox" id = "clear-btn">Clear</input>
                                </label>
                            </div>
                            <div class="filter-bar" id="vendor-filter-bar"></div>
                            <div class="filter-bar" id="result-filter-bar">
                                <p class = "filter-name">Status</p>
                                <label class="status-filter status-filter-approved">
                                    <input type="checkbox" class = "status-checkbox status-checkbox-approved" value = "Approved">Approved</input>
                                </label>
                                <label class="status-filter status-filter-flaggedpending">
                                    <input type="checkbox" class = "status-checkbox status-checkbox-flaggedpending" value = "Flagged">Flagged</input>
                                </label>
                                
                                <label class="status-filter status-filter-flaggedpending">
                                    <input type="checkbox" class = "status-checkbox status-checkbox-flaggedpending" value = "Pending">Pending</input>
                                </label>
                                <label class="status-filter status-filter-rejected">
                                    <input type="checkbox" class = "status-checkbox status-checkbox-rejected" value = "Rejected">Rejected</input>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-sm table-dark table-hover">
                                        <thead>
                                            <tr id ="table_header">
                                                <th id="table_vendor" class="{{ 'fw-bold' if sort_by == 'vendor' else '' }}">Vendor</th>
                                                <th id="table_amount" class="{{ 'fw-bold' if sort_by == 'amount' else '' }}">Amount</th>
                                                <th id="table_record_date" class="{{ 'fw-bold' if sort_by == 'record_date' else '' }}">Date</th>
                                                <th id="table_status" class="{{ 'fw-bold' if sort_by == 'status' else '' }}">Status</th>
                                                <th id="table_confidence" class="{{ 'fw-bold' if sort_by == 'confidence' else '' }}">Confidence</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for r in receipts %}
                                            <tr class = "receipt-row">
                                                <td>{{ r.vendor }}</td>
                                                <td>${{ "%.2f"|format(r.amount) }}</td>
                                                <td>{{ r.record_date }}</td>
                                                <td  class = "receipt-status" style="{% if r.status == 'Approved' %}color: #7aff75; {% elif r.status == 'Rejected' %}color: red; {% endif %}"><strong>{{ r.status }}</strong></td>
                                                <td>{{ r.confidence }}%</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <script src="static/main.js"></script>
        <script type="module" src="https://static.cloudflareinsights.com/beacon.min.js/v31edd6df95cf4e85bb4c19e7a9bdbcba1788362987495" integrity="sha512-iIg7k2xntmwu6/uSb5tpc/hySgZc4eoL31yB29W6tJFo2akwjPWcEqnCEdJvGexCL0KEQwVYv5BlowfhVz26hg==" data-cf-beacon='{"version":"2024.11.0","token":"cd0b4b3a733644fc843ef0b185f98241","spa":2}' crossorigin="anonymous"></script>
        <script>loadVendorFilters().then(() => {document.body.style.visibility = 'visible';});
        </script>
    </body>
</html>
